* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.header {
  background-color: black;
  height: 10vh;
  position: sticky;
  align-items: center;
  top: 0px;
  display: flex;
  /* z-index: 100; */
}

.header__logo {
  width: 8vw;
  display: flex;
  margin: 0 20px;
  margin-top: 18px;
  object-fit: contain;
}

.searchbar {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.searchicon {
  height: 5vh;
  padding: 10px;
  border: none;
  width: 60vw;
}

.searchimg {
  display: flex;
  padding: 1px;
  height: 4vh;
  margin: -30px;



}




.header__nav {
  display: flex;
  justify-content: center;
}


.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  /* border: 1px solid; */
  font-size: 20px;
  font-weight: 800;
  /* position: relative; */
  /* box-shadow: 2px; */
}
.cart_class{
  display: flex;
  position: absolute;
  top: 2px;
  right: 29px;
  color: rgb(240, 8, 8);
}

.header__optionLineTwo {
  font-size: 15px;
  cursor: context-menu;
  /* box-shadow: 1px 1px ; */
  border: 1px solid;
}


.header__optionLineTwo {
  font-size: 20px;
  font-weight: 800;
  cursor: context-menu;
}

.header__basketCount {
  margin-left: 40px;
  margin-right: 40px;
  height: 5vh;
  color: aliceblue;
  font-size: 20px;
  font-weight: 800;
  border: 1px solid;
  box-shadow: 1px 1px ;
}
.mainsubheader {
  background-color: #232f3e;
  display: flex;
  justify-content: center;
  color: white;
  height: 7vh;
  align-items: center;
  padding: auto;
  
  
}
.headerbox{
  padding: 10px;
  display: flex;
  align-items: center;
  margin-right: 40px;
  /* color: aliceblue; */
  /* background-color: aliceblue; */
  border: 1px solid;
  background-color: black;
  font-weight: 900;
  font: bolder;
  box-shadow: 2px;
  color:white;
  border-radius: 5px;
  margin: 80px;
  

  
}
.headerbox:hover{
  
  color: green;
  cursor: context-menu;
}
.subhederside{
  font-weight: lighter;
  color: bisque;
}
.subheader_item{
  color: beige;
}

.fashioncart{
  display: flex;
  align-items: center;
  margin-left: 70px;
  /* margin-right: 50px; */
 /* background-color: blue; */
 margin-top: 5px;
 width: 260px;
 height: 320px;
 /* flex-direction: column-reverse; */
 /* display: inline; */
 
 /* position: relative; */
}


.image_part{
  display: flex;
  /* background-color:red; */
  width: 250px;
  height: 210px;
  
  
}
.image_fashion{
display: flex;
width: 250px;


}
.content_part{
  display: flex;
  flex-direction: column;
  margin-top: 300px;
  margin-left: -250px;
}
.clothes{
  display: flex;
  color: blue;
  font-weight: bold;
  margin-top: 20px;
  text-decoration: underline blue;
  
}
.addtocart{
  display: flex;
  /* color: rgb(192, 192, 39); */
  /* border-color: rgb(192, 192, 39); */
  border: 1px solid;
  /* margin: 10px; */
  background-color: #f0f00d;
  padding: 1px;
  margin-left: 130px;
  margin-top: -17px;
  font-size: small;
  width: 120px;
  justify-content: center;
  border: none;
  border-radius: 5%;
}
  .addtocart:hover{
  
    color: green;
    cursor: context-menu;
  }
  .removefromcart{
    /* border: none; */
  border-radius: 5%;
  background-color: #ca0df0;
  /* border: 1px solid; */

  }
  .removefromcart{
    color: rgb(12, 12, 14);
    cursor: context-menu;
  }

 /* .fashion{
  background-color: #f1f187;
  width: 100px;
  
}  */
.details{
  margin-top: 10px;
}
.card-parent{
  /* background-color: blue; */
  display: flex;
  flex-wrap: wrap;
}

